#main-box {
    font-size: 24px;
    cursor: pointer;
    transition: all .6s;
    display: flex;
    flex-direction: row;

    .nav-icon {
        color: blueviolet;
    }
}
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0%;
    background-color: blueviolet;
    z-index: 200;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
    opacity: 1;
    color: #fff;

    .close-btn {
        position: absolute;
        top: 0px;
        right: 25px;
        font-size: 36px;
        margin-left: 32px;
        color:#fff ;
    }
}


.navbar {
    background: linear-gradient( rgba(255,255,255,0.7), rgba(255,255,255,0.5) );
    top: 0;
    height: 10vh;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.2);

    .navbar-center {
        width: 100%;
        margin: 0 3px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;

                    .nav-icon {
                        font-size: 1.5rem;
                    }
                }
            }
        }

    }
}