
@import './games';
@import './normalice';
@import './header';


/*content*/

#issMap {
    height: 80%;
    width: 40%;
}

#issBody {
    background-image: url(/imgs/background_2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.iss-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

.intro {
    width: 100%;
    height: 100vh;

    .bg {
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(/imgs/universe_background.gif);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;

        .content {
            width: 90%;
            margin: 0 auto;
            height: 70%;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;

            .cards {
                width: 30%;
                height: 90%;
                background: black;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1%;
                flex-wrap: wrap;
                border-radius: 3%;
                overflow: hidden;
                opacity: .8;
                transition: 0.3s ease;

                .img-container {
                    width: 100%;
                    height: 60%;
                    background: #2c3e50;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 50%;
                        border-radius: 50%;
                    }
                }

                .title-container {
                    width: 100%;
                    height: 10%;
                    background: #ecf0f1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    h2 {
                        font-family: 'Quicksand', sans-serif;
                        color: #334;
                    }
                }

                .title-container:hover {
                    background: #34495e;
                }

                .text-container {
                    width: 100%;
                    height: 30%;
                    background: #bdc3c7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #333;

                    p {
                        width: 80%;
                        height: auto;
                        text-align: center;
                    }
                }
            }
            .cards:hover {
                width: 30%;
                height: 100%;
            }
        }
    }
}



#tickets {
    height: 300vh;
    width: 100%;
    position: relative;

    .bg {
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), black;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;

        #tickets-container {
            width: 60%;
            margin: 0 auto;
            height: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 3%;

            .cards1 {
                width: 100%;
                height: 90%;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1%;
                flex-wrap: wrap;
                border-radius: 3%;
                overflow: hidden;
                opacity: .8;
                transition: 0.3s ease;

                .img-container {
                    width: 100%;
                    height: 60%;
                    background: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: #ecf0f1 solid 1px;
                    border-bottom: black solid 1px;
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 85%;
                        height: 100%;
                        border-radius: 50%;
                        transition: var(--MainTransition);
                    }
                    .bag-btn {
                        position: absolute;
                        top: 70%;
                        right: 0;
                        background: var(--primaryColor);
                        border: none;
                        text-transform: uppercase;
                        padding: 0.5rem 0.75rem;
                        letter-spacing: var(--mainSpacing);
                        font-weight: bold;
                        transition: var(--mainTransition);
                        transform: translateX(101%);
                        cursor: pointer;

                        .fa-shopping-cart {
                            margin-right: 0.5rem;
                        }
                    }
                    .bag-btn:hover {
                        color: var(--mainWhite);
                    }
                }
                .img-container:hover {
                    img {
                        opacity: .7;
                    }
                    .bag-btn {
                        transform: translateX(0);
                    }
                }

                .title-container {
                    width: 100%;
                    height: 10%;
                    background: #ecf0f1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        font-family: 'Quicksand', sans-serif;
                        color: #334;
                    }
                }

                .text-container {
                    width: 100%;
                    height: 30%;
                    background: #bdc3c7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: #333;

                    p {
                        width: 80%;
                        height: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}


  /*---------- Cart Item -------------------- */
  .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #fff;
}

.cart-quantity {
    width: 35%;
}

.cart-ticket-title {
    color: #fff;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-ticket-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
    display: none;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #fff;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
  /* --------------- End of Cart ---------------- */


#planets {
    height: 150vh;
    width: 100%;
    position: relative;

    .bg {
        width: 100%;
        height: 300vh;
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), black;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;

        #cards-container {
            width: 90%;
            margin: 0 auto;
            height: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 3%;

            .cards2 {
                width: 100%;
                height: 90%;
                background: black;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1%;
                flex-wrap: wrap;
                border-radius: 3%;
                overflow: hidden;
                opacity: .8;

                .card-inner1, .card-inner2, .card-inner3, .card-inner4, .card-inner5, .card-inner6, .card-inner7,.card-inner8, .card-inner9 {
                    width: 100%;
                    height: 100%;
                    transition: transform 1s;
                    transform-style: preserve-3d;
                    cursor: pointer;

                    .card-face {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        overflow: hidden;
                        border-radius: 16px;

                    }
                    .card-back {
                        background: var(--primaryColor);
                        transform: rotateY(180deg);

                        .header {
                            position: relative;
                            padding: 3% 3% 4%;
                        }

                        .body {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            .year1, .year2, .year3, .year4, .year5, .year6, .year7, .year8, .year9,
                            .weight1, .weight2, .weight3, .weight4, .weight5, .weight6, .weight7, .weight8, .weight9 {
                                margin-top: 30px;
                                padding: .6rem;
                                margin: auto;
                            }

                            .calculate1, .calculate2, .calculate3, .calculate4, .calculate5, .calculate6, .calculate7, .calculate8, .calculate9, .out1, .out2, .out3, .out4, .out5, .out6, .out7, .out8, .out9 {
                                margin-left: 20%;
                                margin-top: 8%;
                                margin-bottom: 8%;
                                padding: .4rem;
                                background-color: darkmagenta;
                                border: none;
                            }

                            .results-container1, .results-container2, .results-container3, .results-container4, .results-container5, .results-container6, .results-container7, .results-container8, .results-container9 {
                                text-align: center;
                                color: #fff;
                            }
                        }

                        .header::after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: -1;
                            border-radius: 0 0 50% 0;
                            background-image: linear-gradient(to bottom left, var(--primaryColor) 10%, var(--mainBlack) 115%);
                        }
                    }
                }
                .is-flipped {
                    transform: rotateY(180deg);
                }

                .img-container {
                    width: 100%;
                    height: 60%;
                    background: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: #ecf0f1 solid 1px;
                    border-bottom: black solid 1px;

                    img {
                        width: 85%;
                        height: 100%;
                        border-radius: 50%;
                    }

                    .img-fix {
                        width: 90%;
                        height: 80%;
                    }
                }

                .title-container {
                    width: 100%;
                    height: 10%;
                    background: #ecf0f1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        font-family: 'Quicksand', sans-serif;
                        color: #334;
                    }
                }

                .title-container:hover {
                    background: #34495e;
                }

                .text-container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 30%;
                    background: #bdc3c7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #333;

                    p {
                        width: 80%;
                        height: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}
