:root {
    --primaryColor: rgb(32, 9, 51);
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #292323;
}

a {
    text-decoration: none;
}

.navbar {
    background: linear-gradient( rgba(255,255,255,0.7), rgba(255,255,255,0.5) );
    opacity: .3;
    top: 0;
    height: 10vh;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.2);

    .navbar-center {
        width: 100%;
        max-width: 1170px;
        margin: 0 3px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nav-icon {
            font-size: 1.5rem;
        }
    }
}

.cart-btn {
    position: relative;
    cursor: pointer;
}
.cart-items {
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 50%;
    color: var(--mainWhite);
}

/*content*/


.intro {
    width: 100%;
    height: 100vh;

    .bg {
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(/imgs/universe_background.gif);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;

        .content {
            width: 90%;
            margin: 0 auto;
            height: 70%;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;

            .cards {
                width: 30%;
                height: 90%;
                background: black;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1%;
                flex-wrap: wrap;
                border-radius: 3%;
                overflow: hidden;
                opacity: .8;
                transition: 0.3s ease;

                .img-container {
                    width: 100%;
                    height: 60%;
                    background: #2c3e50;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 50%;
                        border-radius: 50%;
                    }
                }

                .title-container {
                    width: 100%;
                    height: 10%;
                    background: #ecf0f1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    h2 {
                        font-family: 'Quicksand', sans-serif;
                        color: #334;
                    }
                }

                .title-container:hover {
                    background: #34495e;
                }

                .text-container {
                    width: 100%;
                    height: 30%;
                    background: #bdc3c7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #333;

                    p {
                        width: 80%;
                        height: auto;
                        text-align: center;
                    }
                }
            }
            .cards:hover {
                width: 30%;
                height: 100%;
            }
        }
    }
}



.products {
    height: 245vh;
    width: 100%;
    position: relative;

    .bg {
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), black;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;

        .content {
            width: 60%;
            margin: 0 auto;
            height: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 3%;

            .cards {
                width: 100%;
                height: 90%;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1%;
                flex-wrap: wrap;
                border-radius: 3%;
                overflow: hidden;
                opacity: .8;
                transition: 0.3s ease;

                .img-container {
                    width: 100%;
                    height: 60%;
                    background: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: #ecf0f1 solid 1px;
                    border-bottom: black solid 1px;
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 85%;
                        height: 100%;
                        border-radius: 50%;
                        transition: var(--MainTransition);
                    }
                    .bag-btn {
                        position: absolute;
                        top: 70%;
                        right: 0;
                        background: var(--primaryColor);
                        border: none;
                        text-transform: uppercase;
                        padding: 0.5rem 0.75rem;
                        letter-spacing: var(--mainSpacing);
                        font-weight: bold;
                        transition: var(--mainTransition);
                        transform: translateX(101%);
                        cursor: pointer;

                        .fa-shopping-cart {
                            margin-right: 0.5rem;
                        }
                    }
                    .bag-btn:hover {
                        color: var(--mainWhite);
                    }
                }
                .img-container:hover {
                    img {
                        opacity: .7;
                    }
                    .bag-btn {
                        transform: translateX(0);
                    }
                }

                .title-container {
                    width: 100%;
                    height: 10%;
                    background: #ecf0f1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        font-family: 'Quicksand', sans-serif;
                        color: #334;
                    }
                }

                .text-container {
                    width: 100%;
                    height: 30%;
                    background: #bdc3c7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #333;

                    p {
                        width: 80%;
                        height: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}



.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;

    .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);

    .close-cart {
        font-size: 1.7rem;
        cursor: pointer;
    }

    h2 {
        text-transform: capitalize;
        text-align: center;
        letter-spacing: var(--mainSpacing);
        margin-bottom: 2rem;
    }
    }
}
.showCart {
    transform: translateX(0);
}
.transparentBcg {
    visibility: visible;
}




  /*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;

    img {
        width: 75px;
        height: 75px;
    }

    h4 {
        font-size: 0.85rem;
        text-transform: capitalize;
        letter-spacing: var(--mainSpacing);
    }

    h5 {
        margin: 0.5rem 0;
        letter-spacing: var(--mainSpacing);
    }
}


.item-amount {
    text-align: center;
}
.remove-item {
    color: grey;
    cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}
  /*---------- End of Cart Item -------------------- */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;

    h3 {
        text-transform: capitalize;
        margin-bottom: 1rem;
    }

    .banner-btn {
        padding: 1rem 3rem;
        text-transform: uppercase;
        letter-spacing: var(--mainSpacing);
        font-size: 1rem;
        background: var(--primaryColor);
        color: var(--mainBlack);
        border: 1px solid var(--primaryColor);
        transition: var(--mainTransition);
        cursor: pointer;
    }
    .banner-btn:hover {
        background: transparent;
        color: var(--primaryColor);
    }
}


@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

  /* --------------- End of Cart ---------------- */



.games {
    background: #fff;
    height: 100vh;
    width: 100%;
    position: relative;

    .bg {
        width: 100%;
        min-height: 150vh;
        background: black;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;

        .games-content {
            width: 70%;
            margin: auto;
            height: 70%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


.planets {
    height: 150vh;
    width: 100%;
    position: relative;

    .bg {
        width: 100%;
        height: 300vh;
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), black;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;

        .content {
            width: 90%;
            margin: 0 auto;
            height: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 3%;

            .cards {
                width: 100%;
                height: 90%;
                background: black;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1%;
                flex-wrap: wrap;
                border-radius: 3%;
                overflow: hidden;
                opacity: .8;

                .card-inner {
                    width: 100%;
                    height: 100%;
                    transition: transform 1s;
                    transform-style: preserve-3d;
                    cursor: pointer;

                    .card-face {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        overflow: hidden;
                        border-radius: 16px;

                    }
                    .card-back {
                        background: var(--primaryColor);
                        transform: rotateY(180deg);

                        .header {
                            position: relative;
                            padding: 3% 3% 4%;
                        }

                        .header::after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: -1;
                            border-radius: 0 0 50% 0;
                            background-image: linear-gradient(to bottom left, var(--primaryColor) 10%, var(--mainBlack) 115%);
                        }
                    }
                }
                .card-inner.is-flipped {
                    transform: rotateY(180deg);
                }

                .img-container {
                    width: 100%;
                    height: 60%;
                    background: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: #ecf0f1 solid 1px;
                    border-bottom: black solid 1px;

                    img {
                        width: 85%;
                        height: 100%;
                        border-radius: 50%;
                    }

                    .img-fix {
                        width: 90%;
                        height: 80%;
                    }
                }

                .title-container {
                    width: 100%;
                    height: 10%;
                    background: #ecf0f1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        font-family: 'Quicksand', sans-serif;
                        color: #334;
                    }
                }

                .title-container:hover {
                    background: #34495e;
                }

                .text-container {
                    width: 100%;
                    height: 30%;
                    background: #bdc3c7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #333;

                    p {
                        width: 80%;
                        height: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}

