@charset "UTF-8";
/* ------------- cada juego está aca ----------------- */
.games {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: relative;
  color: white; }
  .games .bg {
    width: 100%;
    min-height: 150vh;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; }
    .games .bg h3 {
      color: white; }
    .games .bg span {
      color: white; }
    .games .bg .games-content {
      width: 70%;
      margin: auto;
      height: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center; }
      .games .bg .games-content img {
        width: 100%;
        height: 100%; }

#space-travel-body {
  background-color: black; }

#space-travel-container {
  width: 400px;
  height: 500px;
  border: 1px solid white;
  margin: auto;
  overflow: hidden; }
  #space-travel-container #block {
    width: 50px;
    height: 500px;
    background-color: red;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear; }

@keyframes block {
  0% {
    left: 400px; }
  100% {
    left: -50px; } }
  #space-travel-container #hole {
    width: 50px;
    height: 150px;
    background-color: black;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear; }
  #space-travel-container #character {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 100px;
    border-radius: 50%; }
    #space-travel-container #character img {
      height: 30px;
      width: 40px;
      background-size: cover; }

/* para el space attack game */
#board {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.grid {
  width: 300px;
  height: 300px;
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap; }
  .grid div {
    width: 20px;
    height: 20px; }

.invader {
  background-color: purple;
  border-radius: 10px; }

.shooter {
  background-color: #001e80; }

.laser {
  background-color: orange; }

.boom {
  background-color: red; }

:root {
  --primaryColor: rgb(32, 9, 51);
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive; }

html {
  scroll-behavior: smooth; }

body {
  background: #292323; }

a {
  text-decoration: none; }

.navbar {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
  opacity: .3;
  top: 0;
  height: 10vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .navbar .navbar-center {
    width: 100%;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .navbar .navbar-center ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%; }
      .navbar .navbar-center ul li {
        list-style-type: none; }
        .navbar .navbar-center ul li a {
          text-decoration: none;
          display: flex;
          flex-direction: row; }
          .navbar .navbar-center ul li a .nav-icon {
            font-size: 1.5rem; }

.cart-btn {
  position: relative;
  cursor: pointer; }

.cart-items {
  top: -8px;
  right: -8px;
  padding: 0 5px;
  border-radius: 50%;
  color: var(--primaryColor); }

/*content*/
.intro {
  width: 100%;
  height: 100vh; }
  .intro .bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/imgs/universe_background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; }
    .intro .bg .content {
      width: 90%;
      margin: 0 auto;
      height: 70%;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center; }
      .intro .bg .content .cards {
        width: 30%;
        height: 90%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        flex-wrap: wrap;
        border-radius: 3%;
        overflow: hidden;
        opacity: .8;
        transition: 0.3s ease; }
        .intro .bg .content .cards .img-container {
          width: 100%;
          height: 60%;
          background: #2c3e50;
          display: flex;
          justify-content: center;
          align-items: center; }
          .intro .bg .content .cards .img-container img {
            width: 50%;
            border-radius: 50%; }
        .intro .bg .content .cards .title-container {
          width: 100%;
          height: 10%;
          background: #ecf0f1;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          .intro .bg .content .cards .title-container h2 {
            font-family: 'Quicksand', sans-serif;
            color: #334; }
        .intro .bg .content .cards .title-container:hover {
          background: #34495e; }
        .intro .bg .content .cards .text-container {
          width: 100%;
          height: 30%;
          background: #bdc3c7;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #333; }
          .intro .bg .content .cards .text-container p {
            width: 80%;
            height: auto;
            text-align: center; }
      .intro .bg .content .cards:hover {
        width: 30%;
        height: 100%; }

#tickets {
  height: 300vh;
  width: 100%;
  position: relative; }
  #tickets .bg {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; }
    #tickets .bg #tickets-container {
      width: 60%;
      margin: 0 auto;
      height: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 3%; }
      #tickets .bg #tickets-container .cards1 {
        width: 100%;
        height: 90%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        flex-wrap: wrap;
        border-radius: 3%;
        overflow: hidden;
        opacity: .8;
        transition: 0.3s ease; }
        #tickets .bg #tickets-container .cards1 .img-container {
          width: 100%;
          height: 60%;
          background: black;
          display: flex;
          justify-content: center;
          align-items: center;
          border: #ecf0f1 solid 1px;
          border-bottom: black solid 1px;
          position: relative;
          overflow: hidden; }
          #tickets .bg #tickets-container .cards1 .img-container img {
            width: 85%;
            height: 100%;
            border-radius: 50%;
            transition: var(--MainTransition); }
          #tickets .bg #tickets-container .cards1 .img-container .bag-btn {
            position: absolute;
            top: 70%;
            right: 0;
            background: var(--primaryColor);
            border: none;
            text-transform: uppercase;
            padding: 0.5rem 0.75rem;
            letter-spacing: var(--mainSpacing);
            font-weight: bold;
            transition: var(--mainTransition);
            transform: translateX(101%);
            cursor: pointer; }
            #tickets .bg #tickets-container .cards1 .img-container .bag-btn .fa-shopping-cart {
              margin-right: 0.5rem; }
          #tickets .bg #tickets-container .cards1 .img-container .bag-btn:hover {
            color: var(--mainWhite); }
        #tickets .bg #tickets-container .cards1 .img-container:hover img {
          opacity: .7; }
        #tickets .bg #tickets-container .cards1 .img-container:hover .bag-btn {
          transform: translateX(0); }
        #tickets .bg #tickets-container .cards1 .title-container {
          width: 100%;
          height: 10%;
          background: #ecf0f1;
          display: flex;
          justify-content: center;
          align-items: center; }
          #tickets .bg #tickets-container .cards1 .title-container h2 {
            font-family: 'Quicksand', sans-serif;
            color: #334; }
        #tickets .bg #tickets-container .cards1 .text-container {
          width: 100%;
          height: 30%;
          background: #bdc3c7;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #333; }
          #tickets .bg #tickets-container .cards1 .text-container p {
            width: 80%;
            height: auto;
            text-align: center; }

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden; }
  .cart-overlay .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: #e7e2dd;
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%); }
    .cart-overlay .cart .close-cart {
      font-size: 1.7rem;
      cursor: pointer; }
    .cart-overlay .cart h2 {
      text-transform: capitalize;
      text-align: center;
      letter-spacing: var(--mainSpacing);
      margin-bottom: 2rem; }

.showCart {
  transform: translateX(0); }

.transparentBcg {
  visibility: visible; }

/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0; }
  .cart-item img {
    width: 75px;
    height: 75px; }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing); }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing); }

.item-amount {
  text-align: center; }

.remove-item {
  color: grey;
  cursor: pointer; }

.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer; }

/*---------- End of Cart Item -------------------- */
.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center; }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem; }
  .cart-footer .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer; }
  .cart-footer .banner-btn:hover {
    background: transparent;
    color: var(--primaryColor); }

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px; } }

/* --------------- End of Cart ---------------- */
#planets {
  height: 150vh;
  width: 100%;
  position: relative; }
  #planets .bg {
    width: 100%;
    height: 300vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; }
    #planets .bg #cards-container {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 3%; }
      #planets .bg #cards-container .cards2 {
        width: 100%;
        height: 90%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        flex-wrap: wrap;
        border-radius: 3%;
        overflow: hidden;
        opacity: .8; }
        #planets .bg #cards-container .cards2 .card-inner {
          width: 100%;
          height: 100%;
          transition: transform 1s;
          transform-style: preserve-3d;
          cursor: pointer; }
          #planets .bg #cards-container .cards2 .card-inner .card-face {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            overflow: hidden;
            border-radius: 16px; }
          #planets .bg #cards-container .cards2 .card-inner .card-back {
            background: var(--primaryColor);
            transform: rotateY(180deg); }
            #planets .bg #cards-container .cards2 .card-inner .card-back .header {
              position: relative;
              padding: 3% 3% 4%; }
            #planets .bg #cards-container .cards2 .card-inner .card-back .header::after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: -1;
              border-radius: 0 0 50% 0;
              background-image: linear-gradient(to bottom left, var(--primaryColor) 10%, var(--mainBlack) 115%); }
        #planets .bg #cards-container .cards2 .card-inner.is-flipped {
          transform: rotateY(180deg); }
        #planets .bg #cards-container .cards2 .img-container {
          width: 100%;
          height: 60%;
          background: black;
          display: flex;
          justify-content: center;
          align-items: center;
          border: #ecf0f1 solid 1px;
          border-bottom: black solid 1px; }
          #planets .bg #cards-container .cards2 .img-container img {
            width: 85%;
            height: 100%;
            border-radius: 50%; }
          #planets .bg #cards-container .cards2 .img-container .img-fix {
            width: 90%;
            height: 80%; }
        #planets .bg #cards-container .cards2 .title-container {
          width: 100%;
          height: 10%;
          background: #ecf0f1;
          display: flex;
          justify-content: center;
          align-items: center; }
          #planets .bg #cards-container .cards2 .title-container h2 {
            font-family: 'Quicksand', sans-serif;
            color: #334; }
        #planets .bg #cards-container .cards2 .title-container:hover {
          background: #34495e; }
        #planets .bg #cards-container .cards2 .text-container {
          width: 100%;
          height: 30%;
          background: #bdc3c7;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #333; }
          #planets .bg #cards-container .cards2 .text-container p {
            width: 80%;
            height: auto;
            text-align: center; }

/* ========== formulario antes del carrito========== */
#cart-form {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; }
  #cart-form #fieldset {
    margin-top: 20px;
    width: 70%;
    height: 40%;
    margin-bottom: 20px; }
    #cart-form #fieldset input, #cart-form #fieldset button {
      margin-top: 10px;
      margin-right: 10px;
      padding: 20px;
      height: 10%; }
