@charset "UTF-8";
/* para el índice de games */
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; }
  .slider-container .slider-outer {
    width: 65%;
    height: 75%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .slider-container .slider-outer .prev, .slider-container .slider-outer .next {
      cursor: pointer;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .slider-container .slider-outer .prev i, .slider-container .slider-outer .next i {
        height: 100%;
        width: 100%; }
    .slider-container .slider-outer .prev {
      position: relative; }
    .slider-container .slider-outer .next {
      position: relative; }
    .slider-container .slider-outer .slider-inner {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      padding: 3px;
      border: #fff solid 1px; }
      .slider-container .slider-outer .slider-inner #picture1 {
        background-image: url(/imgs/space-attack.jpg);
        background-repeat: no-repeat;
        background-size: cover; }
      .slider-container .slider-outer .slider-inner #picture2 {
        background-image: url(/imgs/space-travel.jpg);
        background-repeat: no-repeat;
        background-size: cover; }
      .slider-container .slider-outer .slider-inner #picture3 {
        background-image: url(/imgs/space-memory.png);
        background-repeat: no-repeat;
        background-size: cover; }
      .slider-container .slider-outer .slider-inner picture {
        width: 100%;
        height: 100%;
        display: none; }
        .slider-container .slider-outer .slider-inner picture div {
          background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.5));
          opacity: .3;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.2);
          height: 15%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center; }
          .slider-container .slider-outer .slider-inner picture div h2 {
            color: white;
            text-align: center; }
          .slider-container .slider-outer .slider-inner picture div a {
            color: #fff;
            padding: 2%;
            background-color: #333; }
        .slider-container .slider-outer .slider-inner picture .active {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center; }
      .slider-container .slider-outer .slider-inner .active {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center; }

/* ------------- cada juego está aca ----------------- */
.games {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: relative;
  color: white; }
  .games .bg {
    width: 100%;
    min-height: 150vh;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; }
    .games .bg h3 {
      color: white; }
    .games .bg span {
      color: white; }
    .games .bg .games-content {
      width: 70%;
      margin: auto;
      height: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center; }
      .games .bg .games-content img {
        width: 100%;
        height: 100%; }

#space-travel-body {
  background-color: black; }

#space-travel-container {
  width: 400px;
  height: 500px;
  border: 1px solid white;
  margin: auto;
  overflow: hidden; }
  #space-travel-container #block {
    width: 50px;
    height: 500px;
    background-color: red;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear; }

@keyframes block {
  0% {
    left: 400px; }
  100% {
    left: -50px; } }
  #space-travel-container #hole {
    width: 50px;
    height: 150px;
    background-color: black;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear; }
  #space-travel-container #character {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 100px;
    border-radius: 50%; }
    #space-travel-container #character img {
      height: 30px;
      width: 40px;
      background-size: cover; }

/* para el space attack game */
#board {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.grid {
  width: 300px;
  height: 300px;
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap; }
  .grid div {
    width: 20px;
    height: 20px; }

.invader {
  background-color: purple;
  border-radius: 10px; }

.shooter {
  background-color: #001e80; }

.laser {
  background-color: orange; }

.boom {
  background-color: red; }

:root {
  --primaryColor: rgb(32, 9, 51);
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive; }

html {
  scroll-behavior: smooth; }

body {
  background: #292323; }

a {
  text-decoration: none; }

#main-box {
  font-size: 24px;
  cursor: pointer;
  transition: all .6s;
  display: flex;
  flex-direction: row; }
  #main-box .nav-icon {
    color: blueviolet; }

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0%;
  background-color: blueviolet;
  z-index: 200;
  padding-top: 100px;
  overflow-x: hidden;
  transition: all .5s;
  opacity: 1;
  color: #fff; }
  .sidebar .close-btn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
    color: #fff; }

.navbar {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
  opacity: .3;
  top: 0;
  height: 10vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .navbar .navbar-center {
    width: 100%;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .navbar .navbar-center ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%; }
      .navbar .navbar-center ul li {
        list-style-type: none; }
        .navbar .navbar-center ul li a {
          text-decoration: none;
          display: flex;
          flex-direction: row; }
          .navbar .navbar-center ul li a .nav-icon {
            font-size: 1.5rem; }

/*content*/
.intro {
  width: 100%;
  height: 100vh; }
  .intro .bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/imgs/universe_background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; }
    .intro .bg .content {
      width: 90%;
      margin: 0 auto;
      height: 70%;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center; }
      .intro .bg .content .cards {
        width: 30%;
        height: 90%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        flex-wrap: wrap;
        border-radius: 3%;
        overflow: hidden;
        opacity: .8;
        transition: 0.3s ease; }
        .intro .bg .content .cards .img-container {
          width: 100%;
          height: 60%;
          background: #2c3e50;
          display: flex;
          justify-content: center;
          align-items: center; }
          .intro .bg .content .cards .img-container img {
            width: 50%;
            border-radius: 50%; }
        .intro .bg .content .cards .title-container {
          width: 100%;
          height: 10%;
          background: #ecf0f1;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          .intro .bg .content .cards .title-container h2 {
            font-family: 'Quicksand', sans-serif;
            color: #334; }
        .intro .bg .content .cards .title-container:hover {
          background: #34495e; }
        .intro .bg .content .cards .text-container {
          width: 100%;
          height: 30%;
          background: #bdc3c7;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #333; }
          .intro .bg .content .cards .text-container p {
            width: 80%;
            height: auto;
            text-align: center; }
      .intro .bg .content .cards:hover {
        width: 30%;
        height: 100%; }

#tickets {
  height: 300vh;
  width: 100%;
  position: relative; }
  #tickets .bg {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; }
    #tickets .bg #tickets-container {
      width: 60%;
      margin: 0 auto;
      height: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 3%; }
      #tickets .bg #tickets-container .cards1 {
        width: 100%;
        height: 90%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        flex-wrap: wrap;
        border-radius: 3%;
        overflow: hidden;
        opacity: .8;
        transition: 0.3s ease; }
        #tickets .bg #tickets-container .cards1 .img-container {
          width: 100%;
          height: 60%;
          background: black;
          display: flex;
          justify-content: center;
          align-items: center;
          border: #ecf0f1 solid 1px;
          border-bottom: black solid 1px;
          position: relative;
          overflow: hidden; }
          #tickets .bg #tickets-container .cards1 .img-container img {
            width: 85%;
            height: 100%;
            border-radius: 50%;
            transition: var(--MainTransition); }
          #tickets .bg #tickets-container .cards1 .img-container .bag-btn {
            position: absolute;
            top: 70%;
            right: 0;
            background: var(--primaryColor);
            border: none;
            text-transform: uppercase;
            padding: 0.5rem 0.75rem;
            letter-spacing: var(--mainSpacing);
            font-weight: bold;
            transition: var(--mainTransition);
            transform: translateX(101%);
            cursor: pointer; }
            #tickets .bg #tickets-container .cards1 .img-container .bag-btn .fa-shopping-cart {
              margin-right: 0.5rem; }
          #tickets .bg #tickets-container .cards1 .img-container .bag-btn:hover {
            color: var(--mainWhite); }
        #tickets .bg #tickets-container .cards1 .img-container:hover img {
          opacity: .7; }
        #tickets .bg #tickets-container .cards1 .img-container:hover .bag-btn {
          transform: translateX(0); }
        #tickets .bg #tickets-container .cards1 .title-container {
          width: 100%;
          height: 10%;
          background: #ecf0f1;
          display: flex;
          justify-content: center;
          align-items: center; }
          #tickets .bg #tickets-container .cards1 .title-container h2 {
            font-family: 'Quicksand', sans-serif;
            color: #334; }
        #tickets .bg #tickets-container .cards1 .text-container {
          width: 100%;
          height: 30%;
          background: #bdc3c7;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: #333; }
          #tickets .bg #tickets-container .cards1 .text-container p {
            width: 80%;
            height: auto;
            text-align: center; }

/*---------- Cart Item -------------------- */
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333; }

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px; }

.cart-row {
  display: flex; }

.cart-item {
  width: 45%; }

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #fff; }

.cart-quantity {
  width: 35%; }

.cart-ticket-title {
  color: #fff;
  margin-left: .5em;
  font-size: 1.2em; }

.cart-ticket-image {
  width: 75px;
  height: auto;
  border-radius: 10px; }

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold; }

.btn-danger:hover {
  background-color: #CC4C4C; }

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
  display: none; }

.cart-row:last-child {
  border-bottom: 1px solid black; }

.cart-row:last-child .cart-column {
  border: none; }

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px; }

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px; }

.cart-total-price {
  color: #fff;
  font-size: 1.1em; }

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em; }

/* --------------- End of Cart ---------------- */
#planets {
  height: 150vh;
  width: 100%;
  position: relative; }
  #planets .bg {
    width: 100%;
    height: 300vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; }
    #planets .bg #cards-container {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 3%; }
      #planets .bg #cards-container .cards2 {
        width: 100%;
        height: 90%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        flex-wrap: wrap;
        border-radius: 3%;
        overflow: hidden;
        opacity: .8; }
        #planets .bg #cards-container .cards2 .card-inner1, #planets .bg #cards-container .cards2 .card-inner2, #planets .bg #cards-container .cards2 .card-inner3, #planets .bg #cards-container .cards2 .card-inner4, #planets .bg #cards-container .cards2 .card-inner5, #planets .bg #cards-container .cards2 .card-inner6, #planets .bg #cards-container .cards2 .card-inner7, #planets .bg #cards-container .cards2 .card-inner8, #planets .bg #cards-container .cards2 .card-inner9 {
          width: 100%;
          height: 100%;
          transition: transform 1s;
          transform-style: preserve-3d;
          cursor: pointer; }
          #planets .bg #cards-container .cards2 .card-inner1 .card-face, #planets .bg #cards-container .cards2 .card-inner2 .card-face, #planets .bg #cards-container .cards2 .card-inner3 .card-face, #planets .bg #cards-container .cards2 .card-inner4 .card-face, #planets .bg #cards-container .cards2 .card-inner5 .card-face, #planets .bg #cards-container .cards2 .card-inner6 .card-face, #planets .bg #cards-container .cards2 .card-inner7 .card-face, #planets .bg #cards-container .cards2 .card-inner8 .card-face, #planets .bg #cards-container .cards2 .card-inner9 .card-face {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            overflow: hidden;
            border-radius: 16px; }
          #planets .bg #cards-container .cards2 .card-inner1 .card-back, #planets .bg #cards-container .cards2 .card-inner2 .card-back, #planets .bg #cards-container .cards2 .card-inner3 .card-back, #planets .bg #cards-container .cards2 .card-inner4 .card-back, #planets .bg #cards-container .cards2 .card-inner5 .card-back, #planets .bg #cards-container .cards2 .card-inner6 .card-back, #planets .bg #cards-container .cards2 .card-inner7 .card-back, #planets .bg #cards-container .cards2 .card-inner8 .card-back, #planets .bg #cards-container .cards2 .card-inner9 .card-back {
            background: var(--primaryColor);
            transform: rotateY(180deg); }
            #planets .bg #cards-container .cards2 .card-inner1 .card-back .header, #planets .bg #cards-container .cards2 .card-inner2 .card-back .header, #planets .bg #cards-container .cards2 .card-inner3 .card-back .header, #planets .bg #cards-container .cards2 .card-inner4 .card-back .header, #planets .bg #cards-container .cards2 .card-inner5 .card-back .header, #planets .bg #cards-container .cards2 .card-inner6 .card-back .header, #planets .bg #cards-container .cards2 .card-inner7 .card-back .header, #planets .bg #cards-container .cards2 .card-inner8 .card-back .header, #planets .bg #cards-container .cards2 .card-inner9 .card-back .header {
              position: relative;
              padding: 3% 3% 4%; }
            #planets .bg #cards-container .cards2 .card-inner1 .card-back .body, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column; }
              #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .year, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .weight, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .year, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .weight, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .year, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .weight, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .year, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .weight, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .year, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .weight, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .year, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .weight, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .year, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .weight, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .year, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .weight, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .year, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .weight {
                padding: .6rem;
                margin: auto; }
              #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .calculate1, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .calculate2, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .calculate3, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .calculate4, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .calculate5, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .calculate6, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .calculate7, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .calculate8, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .calculate9, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .out1, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .out2, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .out3, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .out4, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .out5, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .out6, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .out7, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .out8, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .out9, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .calculate1, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .calculate2, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .calculate3, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .calculate4, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .calculate5, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .calculate6, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .calculate7, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .calculate8, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .calculate9, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .out1, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .out2, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .out3, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .out4, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .out5, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .out6, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .out7, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .out8, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .out9, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .calculate1, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .calculate2, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .calculate3, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .calculate4, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .calculate5, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .calculate6, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .calculate7, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .calculate8, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .calculate9, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .out1, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .out2, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .out3, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .out4, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .out5, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .out6, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .out7, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .out8, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .out9, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .calculate1, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .calculate2, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .calculate3, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .calculate4, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .calculate5, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .calculate6, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .calculate7, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .calculate8, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .calculate9, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .out1, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .out2, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .out3, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .out4, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .out5, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .out6, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .out7, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .out8, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .out9, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .calculate1, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .calculate2, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .calculate3, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .calculate4, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .calculate5, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .calculate6, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .calculate7, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .calculate8, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .calculate9, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .out1, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .out2, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .out3, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .out4, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .out5, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .out6, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .out7, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .out8, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .out9, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .calculate1, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .calculate2, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .calculate3, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .calculate4, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .calculate5, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .calculate6, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .calculate7, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .calculate8, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .calculate9, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .out1, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .out2, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .out3, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .out4, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .out5, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .out6, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .out7, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .out8, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .out9, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .calculate1, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .calculate2, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .calculate3, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .calculate4, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .calculate5, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .calculate6, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .calculate7, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .calculate8, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .calculate9, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .out1, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .out2, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .out3, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .out4, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .out5, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .out6, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .out7, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .out8, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .out9, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .calculate1, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .calculate2, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .calculate3, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .calculate4, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .calculate5, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .calculate6, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .calculate7, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .calculate8, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .calculate9, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .out1, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .out2, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .out3, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .out4, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .out5, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .out6, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .out7, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .out8, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .out9, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .calculate1, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .calculate2, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .calculate3, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .calculate4, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .calculate5, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .calculate6, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .calculate7, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .calculate8, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .calculate9, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .out1, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .out2, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .out3, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .out4, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .out5, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .out6, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .out7, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .out8, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .out9 {
                margin-left: 20%;
                margin-top: 8%;
                margin-bottom: 8%;
                padding: .4rem;
                background-color: darkmagenta;
                border: none; }
              #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .results-container1, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .results-container2, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .results-container3, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .results-container4, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .results-container5, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .results-container6, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .results-container7, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .results-container8, #planets .bg #cards-container .cards2 .card-inner1 .card-back .body .results-container9, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .results-container1, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .results-container2, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .results-container3, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .results-container4, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .results-container5, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .results-container6, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .results-container7, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .results-container8, #planets .bg #cards-container .cards2 .card-inner2 .card-back .body .results-container9, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .results-container1, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .results-container2, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .results-container3, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .results-container4, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .results-container5, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .results-container6, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .results-container7, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .results-container8, #planets .bg #cards-container .cards2 .card-inner3 .card-back .body .results-container9, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .results-container1, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .results-container2, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .results-container3, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .results-container4, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .results-container5, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .results-container6, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .results-container7, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .results-container8, #planets .bg #cards-container .cards2 .card-inner4 .card-back .body .results-container9, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .results-container1, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .results-container2, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .results-container3, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .results-container4, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .results-container5, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .results-container6, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .results-container7, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .results-container8, #planets .bg #cards-container .cards2 .card-inner5 .card-back .body .results-container9, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .results-container1, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .results-container2, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .results-container3, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .results-container4, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .results-container5, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .results-container6, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .results-container7, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .results-container8, #planets .bg #cards-container .cards2 .card-inner6 .card-back .body .results-container9, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .results-container1, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .results-container2, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .results-container3, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .results-container4, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .results-container5, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .results-container6, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .results-container7, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .results-container8, #planets .bg #cards-container .cards2 .card-inner7 .card-back .body .results-container9, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .results-container1, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .results-container2, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .results-container3, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .results-container4, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .results-container5, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .results-container6, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .results-container7, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .results-container8, #planets .bg #cards-container .cards2 .card-inner8 .card-back .body .results-container9, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .results-container1, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .results-container2, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .results-container3, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .results-container4, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .results-container5, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .results-container6, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .results-container7, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .results-container8, #planets .bg #cards-container .cards2 .card-inner9 .card-back .body .results-container9 {
                text-align: center;
                color: #fff; }
            #planets .bg #cards-container .cards2 .card-inner1 .card-back .header::after, #planets .bg #cards-container .cards2 .card-inner2 .card-back .header::after, #planets .bg #cards-container .cards2 .card-inner3 .card-back .header::after, #planets .bg #cards-container .cards2 .card-inner4 .card-back .header::after, #planets .bg #cards-container .cards2 .card-inner5 .card-back .header::after, #planets .bg #cards-container .cards2 .card-inner6 .card-back .header::after, #planets .bg #cards-container .cards2 .card-inner7 .card-back .header::after, #planets .bg #cards-container .cards2 .card-inner8 .card-back .header::after, #planets .bg #cards-container .cards2 .card-inner9 .card-back .header::after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: -1;
              border-radius: 0 0 50% 0;
              background-image: linear-gradient(to bottom left, var(--primaryColor) 10%, var(--mainBlack) 115%); }
        #planets .bg #cards-container .cards2 .is-flipped {
          transform: rotateY(180deg); }
        #planets .bg #cards-container .cards2 .img-container {
          width: 100%;
          height: 60%;
          background: black;
          display: flex;
          justify-content: center;
          align-items: center;
          border: #ecf0f1 solid 1px;
          border-bottom: black solid 1px; }
          #planets .bg #cards-container .cards2 .img-container img {
            width: 85%;
            height: 100%;
            border-radius: 50%; }
          #planets .bg #cards-container .cards2 .img-container .img-fix {
            width: 90%;
            height: 80%; }
        #planets .bg #cards-container .cards2 .title-container {
          width: 100%;
          height: 10%;
          background: #ecf0f1;
          display: flex;
          justify-content: center;
          align-items: center; }
          #planets .bg #cards-container .cards2 .title-container h2 {
            font-family: 'Quicksand', sans-serif;
            color: #334; }
        #planets .bg #cards-container .cards2 .title-container:hover {
          background: #34495e; }
        #planets .bg #cards-container .cards2 .text-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 30%;
          background: #bdc3c7;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #333; }
          #planets .bg #cards-container .cards2 .text-container p {
            width: 80%;
            height: auto;
            text-align: center; }
